*{
  background-position: center;
  padding: 0;
  margin: 0;
  }
body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
header{
  height: 5vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.7);
  position: fixed;

}
a{
text-decoration-line: none;
font-family: 'Orbitron', sans-serif;
font-weight:bold;
}
main{
  height: 100vh;
  width: 100vw;
}
li {
  color: white;

}

.flex{
  display: flex;
  flex-direction: row;

}

.noStyle{
  list-style: none;
}

.center{
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1%;
  margin-top: 0;
}

a{
  color: white;
}

.borders{
 border-left: 1px white double;
 border-right: 1px white double;
 padding-left: 10vw;
 padding-right: 10vw;
}

.border{
  border-left: 1px white double;
  padding-left: 10vw;
  padding-right: 10vw;
}
.padding{
  padding-left: 10vw;
  padding-right: 10vw;
}
body{
  width: 100vw;
  height: 100vh;
}
.resize{
width: 100vw;
height: 100vh;


}
@media only screen and (max-width: 600px) {

.border {
  border-left: 0;
   border-right: 0vw;
   padding-left: 0vw;
   padding-right: 0vw;
}
.borders {
  border-left: 0;
   padding-left: 0vw;
   border-right: 0vw;
   padding-right: 0vw;
}
.padding {
    padding-left:0vw;
    padding-right: 0vw;
}
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



.content {
  color: white;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  position: absolute;
  left: 10vw;
  top: 40vh;
	width: 12%;
	height: 24%;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
  background-color: #152c53;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }

}
.in{
height: 50%;
border-radius: 20%;
right: 0;
}
.linked{
position: absolute;
left: 0;
}
.mail{
height: 100%;
}
.placeMail{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
    bottom: 5vh;
    right: 5vw;
    height: 10%;
}
@media only screen and (max-width: 600px) {
.in{
height: 25%;
    }
.ref{
font-size: 108%;
}

}
@media only screen and (max-width: 1250px) {
.in{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
right: inherit;

    }
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.linked{
  display: none;
}
}
