*{
  background-position: center;
  padding: 0;

  }
.mototo{
height: 100vh;
width: 100vw;
}
body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
header{
  height: 5vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.7);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  font-size: 1em;
  position: fixed;
    z-index: 1;

}
a{
text-decoration-line: none;
font-weight:bold;
}
main{
  height: 100vh;
  width: 100vw;
}
li {
  color: white;

}

.flex{
  display: flex;
  flex-direction: row;

}

.noStyle{
  list-style: none;
}

.center{
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1%;
  margin-top: 0;
}

a{
  color: white;
}

.borders{
 border-left: 1px white double;
 border-right: 1px white double;
 padding-left: 10vw;
 padding-right: 10vw;
}

.border{
  border-left: 1px white double;
  padding-left: 10vw;
  padding-right: 10vw;
}
.padding{
  padding-left: 10vw;
  padding-right: 10vw;
}


.backLayer{
  height: 75%;
  width: 75%;
  background-color: rgba(0,0,0, 0.3);
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  border-radius: 10%;
}
.photo{
  height: 25%;
  width: 15%;
  border: 1px solid lightgrey;
  position: absolute;
 border-radius: 29%;
opacity: 1 !important;
 left: 40%;
  top: 3%;


}

.picsize{
  height: 100%;
  width: 100%;
  border-radius: 29%;
  opacity: 1;
}
.fontPlace{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
font-size: 8vh;
font-family: 'Lobster', cursive;
color: white;
flex-wrap: nowrap;

}
.fontPlace2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-family: 'Lobster', cursive;

padding-right: 5vw;
font-size: 6vh;
color: white;
flex-wrap: nowrap;
}
@media only screen and (max-width: 600px) {

.border {
  border-left: 0;
   border-right: 0vw;
   padding-left: 0vw;
   padding-right: 0vw;
}
.borders {
  border-left: 0;
   padding-left: 0vw;
   border-right: 0vw;
   padding-right: 0vw;
}
.padding {
    padding-left:0vw;
    padding-right: 0vw;
}
}
